---
import Container from "./Container.astro";
---

<header>
  <nav class="z-10 w-full absolute">
    <Container>
      <div
        class="flex flex-wrap items-center justify-between py-2 gap-6 md:py-4 md:gap-0 relative"
      >
        <input
          aria-hidden="true"
          type="checkbox"
          name="toggle_nav"
          id="toggle_nav"
          class="hidden peer"
        />
        <div class="relative z-20 w-full flex justify-between lg:w-max md:px-0">
          <a href="#" aria-label="logo" class="flex space-x-2 items-center">
            <img src="./logo/KCTF_LOGO_White.png" width="50px" />
            <span class="text-2xl font-bold text-green-400"
              >KnightCTF</span
            >
          </a>

          <div class="relative flex items-center lg:hidden max-h-10">
            <label
              role="button"
              for="toggle_nav"
              aria-label="humburger"
              id="hamburger"
              class="relative p-6 -mr-6"
            >
              <div
                aria-hidden="true"
                id="line"
                class="m-auto h-0.5 w-5 rounded bg-gray-300 transition duration-300"
              >
              </div>
              <div
                aria-hidden="true"
                id="line2"
                class="m-auto mt-2 h-0.5 w-5 rounded bg-gray-300 transition duration-300"
              >
              </div>
            </label>
          </div>
        </div>
      </div>
    </Container>
  </nav>
</header>

<style>
  #toggle_nav:checked ~ div #hamburger #line {
    @apply rotate-45 translate-y-1.5;
  }

  #toggle_nav:checked ~ div #hamburger #line2 {
    @apply -rotate-45 -translate-y-1;
  }
</style>
